.header_list {
    flex-wrap: wrap;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin-left: -25px;
    
    &__element_home {
        font-weight: 700;
        text-decoration: none;
        color: black;
        font-size: 18px;
    }

    &__element {
        cursor: pointer;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        color: #828282;
        margin-right: 20px;
        border: none;
        background: transparent;
    }
}

.header_list::after {
    content: '';
    width: 1000px;
    height: 1px;
    margin-top: 32px;
    margin-left: -10px;
    background-color: #828282;
}