.form_flex_SI {
    position: fixed;
    top: 280px;
    display: none;
    justify-content: center;
    margin-left: 38%;
    z-index: 2;
}

.form_flex_SI_active {
    display: flex;
}

.email {
    margin: 40px 40px 20px 40px;

    &__text {
        font-size: 14px;
        margin-bottom: 0;
    }
    
    &__input {
        height: 50px;
        width: 290px;
        border-radius: 0px;
        border: 2px solid #E5E5E5
    }
}

.password {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 40px;

    &__text {
        font-size: 14px;
        margin-bottom: 0;
    }

    &__input {
        height: 50px;
        width: 290px;
        left: 575px;
        top: 288px;
        border-radius: 0px;
        border: 2px solid #E5E5E5
    }
}

.form_button {
    cursor: pointer;
    margin-left: 40px;
    background-color: transparent;
    font-size: 18px;
    border-radius: 30px;
    padding: 6px 15px 6px 15px;
    color: #070707;
    border-color: 3px solid #070707;
    margin-bottom: 40px;
}

.form_close {
    position: relative;
    bottom: 220px;
    left: 250px;
    cursor: pointer;
    background-color: transparent;
    border: black;
    max-height: 26px;
}

.form_border {
    background-color: white;
    border: 2px solid black;
    position: relative;
}

.body_active::before {
    content: '';
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F6F6F6FC;
    opacity: 0.99;
}