<div class="form_flex_EW">
    <form action="" class="form_border">
        <div class="password_section">
            <p class="password_section__text">Old password</p>
            <input type="password" class="password_section__input">
        </div>
        <div class="password_section">
            <p class="password_section__text">New password</p>
            <input type="password" class="password_section__input">
        </div>
        <div class="password_bottom password_section">
            <p class="password_section__text">Repeat new password</p>
            <input type="password" class="password_section__input">
        </div>
        <button class="form_button">Change password</button>
    </form>
    <img src="img/cross.png" alt="" class="form_close">
</div>