<div class="form_flex_EDA">
    <form action="" class="form_border_EDA">    
            <div class="main">
                <p class="main__text">Email *</p>
                <input type="email" class="main__input">
            </div>
            <div class="input_flex">
                <div class="input_flex__element input_flex__left">
                    <p class="input_flex__element_text">Name *</p>
                    <input type="text" class="input_flex__element_input">
                </div>
                <div class="input_flex__element">
                    <p class="input_flex__element_text">Surname *</p>
                    <input type="text" class="input_flex__element_input">
                </div>
            </div>
            <div class="input_flex">
                <div class="input_flex__element input_flex__left">
                    <p class="input_flex__element_text">Password *</p>
                    <input type="password" class="input_flex__element_input">
                </div>
                <div class="input_flex__element">
                    <p class="input_flex__element_text">Repeat password *</p>
                    <input type="password" class="input_flex__element_input">
                </div>
            </div>
            <div class="input_flex">
                <div class="input_flex__element input_flex__left">
                    <p class="input_flex__element_text">Location *</p>
                    <input type="text" class="input_flex__element_input">
                </div>
                <div class="input_flex__element">
                    <p class="input_flex__element_text">Age *</p>
                    <input type="text" class="input_flex__element_input">
                </div>
            </div>
            <div class="input_flex_EDA">
                <p class="input_flex_EDA__element_text">Profile picture</p>
                <input type="file" class="input_flex_EDA__element_input">
            </div>
            <button class="form_button">Submit changes</button>
    </form>
    <img src="img/cross.png" alt="" class="form_close">
</div>