<footer>
    <h3 class="footer_head">Contacts</h3>
    <p class="footer_description">Want to know more or just chat? You are welcome!</p>
    <button class="footer_SM_button">Send message</button>
    <div class="button_list">
        <a href="#" class="button_list__element">Instagram</a>
        
        <a href="#" class="button_list__element">Vk</a>

        <a href="#" class="button_list__element">Telegram</a>

        <a href="#" class="button_list__element button_list__mail">Mail</a>

        <a href="#" class="button_list__element">GitHub</a>

        <a href="#" class="button_list__element">Phone</a>
    </div>
    <p class="footer_bottom">Design by DL Academy</p>
    <p class="footer_bottom">Program code from Antonina</p>
    <div class="form_flex_SM">
        <form action="" class="form_border">
            <div class="input_flex_SM">
                <div class="input_flex__left">
                    <p class="input_flex__element_text">What is your name? *</p>
                    <input type="text" class="input_flex__element_input">
                </div>
                <div>
                    <p class="input_flex__element_text">Message subject *</p>
                    <input type="text" class="input_flex__element_input">
                </div>
            </div>
            <div class="input_flex_SM">
                <div class="input_flex__left">
                    <p class="input_flex__element_text">Your Email *</p>
                    <input type="email" class="input_flex__element_input">
                </div>
                <div>
                    <p class="input_flex__element_text">Your mobile phone *</p>
                    <input type="tel" class="input_flex__element_input">
                </div>
            </div>
            <div class="main_SM">
                <p class="main_SM__text">What do you want to discuss with me?</p>
                <textarea class="main_SM__input"></textarea>
            </div>
            <div class="checkbox_section">
                <input type="checkbox" name="checkbox" class="checkbox_section__input checkbox_active" id="checkbox">
                <button class="form_button_RR">Send</button>
                <label for="checkbox" class="checkbox_section__label">
                    <span class="checkbox_section__text">Clicking on the button, you consent to the processing of your personal data.</span>
                </label>
            </div>
        </form>
        <button class="form_close_SM"><img src="img/cross.png" alt=""> </button>
    </div>
    <script src="js/send_message.js"></script>
</footer>