<footer>
    <h3>Contacts</h3>
    <p>Want to know more or just chat? You are welcome!</p>
    <button>Send message</button>
    <ul>
        <li>
            <a href="">Instagram</a>
        </li>
        <li>
            <a href="">Vk</a>
        </li>
        <li>
            <a href="">Telegram</a>
        </li>
        <li>
            <a href="">Mail</a>
        </li>
        <li>
            <a href="">GitHub</a>
        </li>
        <li>
            <a href="">Phone</a>
        </li>
    </ul>
    <p>Design by DL Academy</p>
    <p>Program code from Antonina</p>
</footer>