<form action="">
    <div>
        <p>Email *</p>
        <input type="email">
    </div>
    <div>
        <div>
            <p>Name *</p>
            <input type="text">
        </div>
        <div>
            <p>Surname *</p>
            <input type="text">
        </div>
    </div>
    <div>
        <div>
            <p>Password *</p>
            <input type="password">
        </div>
        <div>
            <p>Repeat password *</p>
            <input type="password">
        </div>
    </div>
    <div>
        <div>
            <p>Location *</p>
            <input type="text">
        </div>
        <div>
            <p>Age *</p>
            <input type="text">
        </div>
    </div>
    <div>
        <input type="checkbox" name="checkbox">
        <p>Clicking on the button, you consent to the processing of your personal data.</p>
    </div>
    <button>Sign up</button>
</form>