<form action="">
    <div>
        <div>
            <p>What is your name? *</p>
            <input type="text">
        </div>
        <div>
            <p>Message subject *</p>
            <input type="text">
        </div>
    </div>  
    <div>
        <div>
            <p>Your Email *</p>
            <input type="email">
        </div>
        <div>
            <p>Your mobile phone *</p>
            <input type="tel">
        </div>
    </div>
    <div>
        <p>What do you want to discuss with me?</p>
        <textarea></textarea>
    </div>
    <div>
        <input type="checkbox" name="checkbox">
        <p>Clicking on the button, you consent to the processing of your personal data.</p>
    </div>
    <button>Send</button>
</form>